<ion-view title="{{titulo_app}}">
	<ion-content class="padding" scroll="false">
		<div class="list">
            <a class="item item-divider" href="#">
              Programas e convênios do governo
            </a>
            <a class="item item-icon-left item-icon-right" href="#/propostas/MT">
              <i class="icon ion-android-locate"></i>
                Minha região
              <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#/listar-regioes">
              <i class="icon ion-map"></i>
                Outras regiões
              <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-divider">
              Outras opções
            </a>

            <a class="item item-icon-left" href="#/denuncia">
              <i class="icon ion-speakerphone"></i>
              Denuncie!
            </a>

            <a class="item item-icon-left" href="#/sobre">
              <i class="icon ion-ios-information-empty"></i>
              Sobre
            </a>
          </div>
	</ion-content>
</ion-view>