<ion-view title="Propostas">
	<ion-content class="padding">
		<div class="padding">
			<h2>Propostas</h2>
			<label>{{ estado.uf }} - {{ estado.nome }}</label>
		</div>
		<div class="list padding">
			<!-- Propostas -->
			<a class="item item-divider" href="#">
              Propostas
            </a>

            <a class="item item-icon-right" href="#/proposta/detalhe">
                Programas
              <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-right" href="#">
                Dados bancários
              <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-right" href="#">
                Proponente
              <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-right" href="#">
				Emendas Parlamentares
              <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-right" href="#">
				Beneficiário Específico
              <i class="icon ion-chevron-right"></i>
            </a>


            <!-- Outras pesquisas -->
            <a class="item item-divider" href="#">
              Outras pesquisas
            </a>

            <a class="item item-icon-right" href="#">
                Convênios celebrados
              <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-right" href="#">
                Movimentação de Empenhos
              <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-right" href="#">
                Execução Financeira de Concedente
              <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-right" href="#">
                Programas Disponibilizados
              <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-right" href="#">
                Execução Financeira de Convenente
              <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-icon-right" href="#">
                Plano de aplicação detalhado
              <i class="icon ion-chevron-right"></i>
            </a>
		</div>
	</ion-content>
</ion-view>
